.mask-responsive {
  	width: 100%;
  	height: 850px;
  	background: url(../img/bannertu.jpg) no-repeat;
  	background-size: cover;
  }
  
  .mask {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	color: #fff;
  	background-color: rgba(0, 0, 0, 0.4);
  	top: 0 !important;
  	-webkit-transform: top @transform-time;
  	-moz-transform: top @transform-time;
  	-ms-transform: top @transform-time;
  	transform: top @transform-time;
  }
  

















